<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Management System</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <a href="/">
            <img src="./static/img/software.png" alt="User Profile" class="app-pic">
        </a>
        <a href="/" class="button">Home</a>
        <a href="/projects" class="button">Projects</a>
        <a href="/notifications" class="button">Notifications</a>
        <a href="/dashboard" class="button">Dashboard</a>
        <a href="/profile">
            <img src="./static/img/boy.png" alt="User Profile" class="profile-pic">
        </a>
    </nav>
    <header>
        <h1>Projects</h1>
    </header>
    <footer>
        <p>&copy; 2023 Document Management System</p>
    </footer>
</body>
</html>